* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    margin: 0;
}



/*****Navigation*****/
.mobile{
    display: none;
}
nav{
    z-index: 99;
    opacity: .95;
    position: sticky;
    top: 0;
    margin-top: 30px;
    background-color: white;
    color: black;
    font-family: 'Pinyon Script', cursive;
    font-size: 20pt;
    border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
}
.menu ul{
    padding: 0;
    list-style: none;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 767.26px;
    
}
nav li{
    float: left;
    width: auto;
    padding-left: 1.8%;
    padding-right: 1.8%;
}
nav li a {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
}
/*nav li:hover {
    box-shadow: inset 0 -5px 2px -2px  black;
    -webkit-box-shadow: inset 0 -5px 2px -2px  black;
    -moz-box-shadow: inset 0 -5px 2px -2px  black;*/
}
#banner {
    height: 256px;
}



/*****Main Content*****/
header{
    text-align: center;
}
main, footer{
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    color: black;
    width: 80%;
    padding-top: 20px;
    height: auto;
    text-align: center;
}
main{
    position: relative;
    min-height: 1025px;
}
h1{
    font-family: 'Pinyon Script', cursive;
    font-size: 65pt;
}
h2{
    font-family: 'Spectral SC', serif;
    font-size: 14pt;
}
h3{
    font-family: 'Spectral SC', serif;
    font-size: 18pt;
}
h4{
    font-family: 'Spectral SC', serif;
    font-size: 16pt;
}
h5{
    font-family: 'Pinyon Script', cursive;
    font-size: 42pt;
    margin-top: 30px;
    margin-bottom: 15px;
}
p{
    font-family: serif;
    font-size: 14pt;
}
.center{
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
}
.center-left{
    width: 50%;
    float: left;
    display: inline-block;
    vertical-align: top;
}
.center-right{
    width: 50%;
    float: right;
    display: inline-block;
    vertical-align: top;
}
#bride, #groom{
    min-width: 300px;
    padding: 30px;
}
#bride p, #groom p{
    text-align: left;
    text-indent: 2em;
}
.registry{
    display: inline-block;
    margin: 20px;
    height: 256px;
    width: 256px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    box-shadow: 5px 5px 5px grey;
    -webkit-box-shadow: 5px 5px 5px grey;
    -moz-box-shadow: 5px 5px 5px grey;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%
}
.registry:hover {
    box-shadow: 1px 1px 1px black;
    -webkit-box-shadow: 1px 1px 1px black;
    -moz-box-shadow: 1px 1px 1px black;
    top: 5px;
    left: 5px;
}
#amazon{
    background-image: url(images/amazon.png);
}
#bbb{
    background-image: url(images/bbb.png);
}
#wayfair{
    background-image: url(images/wayfair.png);
}
hr{
    border-color: black;
    margin-top: 70px;
    margin-bottom: 100px;
}
#partyLeft, #partyRight{
    height: 256px;
}
#partyLeft{
    text-align: right;
}
#partyRight{
    text-align: left;
}
/*****Footer*****/
footer{
    position: absolute;
    background-image: url(images/Footer.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
}


/*****Mobile*****/
@media(max-width: 720px) {
    .mobile{
        display: block;
        position: relative;
        top: 0;
        right: 0;
        font-size: 20pt;
    }
    nav{
        margin-top: 0;
    }
    nav li{
        float: none;
        width: 100%;
    }
    .mobile:hover .menu{
        display: inline-block;
    }
    .menu{
        display: none;
    }
    input, select{
        display: block;
    }
    
}
@media(max-width: 1050px) {
    .center-left, .center-right{
        float: none;
    }
}